# Binaries for programs and plugins
cmd/device-camera-go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.DS_STORE
go.sum

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
LintOutput.json

# GoLand
.idea/
.idea
vcs.xml
.DS_Store

# Log files
*.log
LintOutput.json
device-camera-go
run

VERSION
